.container-m{
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
input{
  margin: 7px;
  width: 250px;
}

button {
  width: 250px;
}

.gpoup-auth{
  align-items: center;
  display: flex;
  flex-direction: column;
}
