<div class="container" *ngIf="isAuth()">
  <h3>На данной странице расположены контактные данные наших работников</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Адрес</th>
      <th scope="col">Номер телефона</th>
      <th scope="col">Профессия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let worker of workers">
      <td>{{worker.lastNameW}}</td>
      <td>{{worker.firstNameW}}</td>
      <td>{{worker.address}}</td>
      <td>{{worker.phoneNumber}}</td>
      <td>{{worker.typeWorker.type}}</td>
    </tr>
    </tbody>
  </table>
  <div class="row row-cat w-row" *ngIf="isAdmin()">
    <div class="column col-md-6">
      <app-workers-form></app-workers-form>
    </div>
    <div class="column col-md-6 custom-prof">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Профессия</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let type of types">
          <td>{{type[0]}}</td>
          <td>{{type[1]}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<hr>

<div class="container">
  <div class="row row-cat w-row">
    <div class="column col-md-6">
      <div class="">
        <h3>
          Наш адрес
        </h3>
        <p>
          Рыбинск, 1-я Выборгская улица, 66
        </p>
        <p> 8 (961) 161-65-65</p>
        <p> 8 (485) 533-32-38</p>
        <p>
          ежедневно: с 9 до 19
        </p>
      </div>
    </div>
    <div class="column col-md-6"><img src="./assets/fakemap.png" width="100%" alt=""></div>
  </div>
</div>

