<form #workerForm="ngForm" *ngIf="worker" class="page-container">
  <div class="container-m">
    <div class="form-signin">
      <h1 class="h3 mb-3 font-weight-small">Введите данные сотрудника</h1>
      <div class="group-input">
      <app-input-field name="firstName"
                       placeholder="Имя"
                       type="text"
                       required="true"
                       [(ngModel)]="worker.firstNameW">

      </app-input-field>
        <app-input-field name="lastName"
                         placeholder="Фамилия"
                         type="text"
                         required="true"
                         [(ngModel)]="worker.lastNameW">

        </app-input-field>
      <app-input-field name="address"
                       placeholder="Полный адрес"
                       [(ngModel)]="worker.address"
                       type="text"
                       required="true">
      </app-input-field>
      <app-input-field name="phoneNumber"
                       placeholder="Номер телефона"
                       [(ngModel)]="worker.phoneNumber"
                       type="number"
                       required="true">
      </app-input-field>
      <app-input-field name="type"
                       placeholder="Профессия"
                       [(ngModel)]="worker.typeWorker.id"
                       type="number"
                       required="true">
      </app-input-field>
      </div>


      <button class="btn btn-lg btn-primary btn-block"
              type="submit"
              [disabled]="!workerForm.valid"
      (click)="saveWorker()">
        Сохранить
      </button>
    </div>
  </div>
</form>
