<div class="container">
  <h3>Текущие заказы</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Клиент</th>
      <th scope="col">Марка</th>
      <th scope="col">Модель</th>
      <th scope="col">Гос. номер</th>
      <th scope="col">Дата</th>
      <th scope="col">Ответственный</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order[0]}} {{order[1]}}</td>
      <td>{{order[2]}}</td>
      <td>{{order[3]}}</td>
      <td>{{order[4]}}</td>
      <td>{{toTime(order[5])}}</td>
      <td>{{order[6]}}</td>
    </tr>
    </tbody>
  </table>

</div>
