<div class="container">
  <div class="row row-cat w-row">
    <div class="column col-md-6">
      <div class="">
        <h2>
          Курсовой проект
        </h2>
        <p>
          CRM-система с так себе возможностями онлайн-записи автосервиса.
        </p>
        <p>
          Автоматизируйте работу администратора и экономьте время ваших клиентов. Клиенты смогут быстро и просто
          записаться в автосервис на любую ремонтную услугу, а вы — лучше анализировать работу своего бизнеса.
        </p>
        <button type="button" routerLink="orders" class="btn btn-primary">Войти</button>
        <button type="button" routerLink="registration" class="btn btn-secondary">Зарегестрироваться</button>
      </div>
    </div>
    <div class="column col-md-6"><img src="./assets/slide.jpeg" width="100%" alt=""></div>
  </div>
</div>
