<form #authForm="ngForm" class="page-container">
  <div class="container-m">
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-small">Авторизуйтесь для использования сервиса</h1>
      <div class="group-input">

        <app-temp></app-temp>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        <button class="btn btn-lg btn-secondary btn-block" type="button" routerLink="/registration">Регистрация</button>
      </div>
    </form>
  </div>
</form>
