<div class="container">
  <form #orderForm="ngForm">
    <div class="separate">
      <label> Клиент</label>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Имя">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Фамилия">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Номер телефона">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Город">
        </div>
      </div>
    </div>
    <div class="separate">
      <label> Автомобиль</label>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Марка автомобиля">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Модель автомобиля">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Гос. номер автомобиля">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Регистрационный номер кузова">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Цвет автомобиля">
        </div>
        <div class="col">
          <input type="number" class="form-control" placeholder="Год выпуска">
        </div>
      </div>
    </div>
    <button type="button"
            class="btn btn-outline-success">Сделать заказ
    </button>

  </form>
</div>
